In [128]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, stop_words='english')
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies.merge(credits, on='title')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [7]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [17]:
movies=movies[['id', 'title', 'overview', 'genres', 'keywords']]

In [18]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4803 non-null   int64
 1   title     4803 non-null   object
 2   overview  4800 non-null   object
 3   genres    4803 non-null   object
 4   keywords  4803 non-null   object
dtypes: int64(1), object(4)
memory usage: 187.7+ KB

In [24]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
dtype: int64

In [25]:
movies=movies.dropna()

In [26]:
movies.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
dtype: int64

In [27]:
movies.duplicated().sum()

0

In [33]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [29]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [34]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [36]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4800, dtype: object

In [37]:
movies['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4800, dtype: object

In [41]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4798    [El, Mariachi, just, wants, to, play, his, gui...
4799    [A, newlywed, couple's, honeymoon, is, upended...
4800    ["Signed,, Sealed,, Delivered", introduces, a,...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4800, dtype: object

In [59]:
movies['genres']

0       <generator object <lambda>.<locals>.<genexpr> ...
1       <generator object <lambda>.<locals>.<genexpr> ...
2       <generator object <lambda>.<locals>.<genexpr> ...
3       <generator object <lambda>.<locals>.<genexpr> ...
4       <generator object <lambda>.<locals>.<genexpr> ...
                              ...
4798    <generator object <lambda>.<locals>.<genexpr> ...
4799    <generator object <lambda>.<locals>.<genexpr> ...
4800    <generator object <lambda>.<locals>.<genexpr> ...
4801    <generator object <lambda>.<locals>.<genexpr> ...
4802    <generator object <lambda>.<locals>.<genexpr> ...
Name: genres, Length: 4800, dtype: object

In [60]:
movies_o=pd.read_csv('tmdb_5000_movies.csv')

In [61]:
movies['genres']=movies_o['genres']

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\749253569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies_o['genres']

In [62]:
movies['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4800, dtype: object

In [63]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4800, dtype: object

In [64]:
movies['genres'] = movies['genres'].apply(convert)

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\1189516248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

In [65]:
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4800, dtype: object

In [66]:
movies.loc[:, 'genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\3008432447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.loc[:, 'genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])

In [67]:
movies['genres']

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4798                       [Action, Crime, Thriller]
4799                               [Comedy, Romance]
4800               [Comedy, Drama, Romance, TVMovie]
4801                                              []
4802                                   [Documentary]
Name: genres, Length: 4800, dtype: object

In [68]:
movies['overview']=movies_o['overview']

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\3526394133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies_o['overview']

In [69]:
movies['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: overview, Length: 4800, dtype: object

In [70]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\1104793012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies['overview'].apply(lambda x:x.split())

In [71]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4798    [El, Mariachi, just, wants, to, play, his, gui...
4799    [A, newlywed, couple's, honeymoon, is, upended...
4800    ["Signed,, Sealed,, Delivered", introduces, a,...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4800, dtype: object

In [72]:
movies.loc[:, 'overview'] = movies['overview'].apply(lambda x: [i.replace(" ", "") for i in x])

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\2900477392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.loc[:, 'overview'] = movies['overview'].apply(lambda x: [i.replace(" ", "") for i in x])

In [73]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4798    [El, Mariachi, just, wants, to, play, his, gui...
4799    [A, newlywed, couple's, honeymoon, is, upended...
4800    ["Signed,, Sealed,, Delivered", introduces, a,...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4800, dtype: object

In [75]:
movies['keywords']=movies_o['keywords']

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\515779774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies_o['keywords']

In [76]:
movies['keywords']

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4798    [{"id": 5616, "name": "united states\u2013mexi...
4799                                                   []
4800    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4801                                                   []
4802    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4800, dtype: object

In [77]:
movies['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4800, dtype: object

In [79]:
movies['keywords']=movies['keywords'].apply(convert)

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\1621871954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(convert)

In [80]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4800, dtype: object

In [81]:
movies.loc[:, 'keywords']=movies['keywords'].apply(lambda x:(i.replace(" ","") for i in x))

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\694213704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.loc[:, 'keywords']=movies['keywords'].apply(lambda x:(i.replace(" ","") for i in x))

In [83]:
movies['keywords']

0       <generator object <lambda>.<locals>.<genexpr> ...
1       <generator object <lambda>.<locals>.<genexpr> ...
2       <generator object <lambda>.<locals>.<genexpr> ...
3       <generator object <lambda>.<locals>.<genexpr> ...
4       <generator object <lambda>.<locals>.<genexpr> ...
                              ...
4798    <generator object <lambda>.<locals>.<genexpr> ...
4799    <generator object <lambda>.<locals>.<genexpr> ...
4800    <generator object <lambda>.<locals>.<genexpr> ...
4801    <generator object <lambda>.<locals>.<genexpr> ...
4802    <generator object <lambda>.<locals>.<genexpr> ...
Name: keywords, Length: 4800, dtype: object

In [84]:
movies['keywords']=movies_o['keywords']

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\515779774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies_o['keywords']

In [85]:
movies['keywords']

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4798    [{"id": 5616, "name": "united states\u2013mexi...
4799                                                   []
4800    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4801                                                   []
4802    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4800, dtype: object

In [86]:
movies['kwywords']=movies['keywords'].apply(convert)

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\1155239139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['kwywords']=movies['keywords'].apply(convert)

In [87]:
movies['keywords']

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4798    [{"id": 5616, "name": "united states\u2013mexi...
4799                                                   []
4800    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4801                                                   []
4802    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4800, dtype: object

In [90]:
movies=movies[['id', 'title', 'overview', 'genres', 'keywords']]

In [91]:
movies['keywords']=movies['keywords'].apply(convert)

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\1621871954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(convert)

In [92]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4800, dtype: object

In [93]:
movies['keywords'] = movies['keywords'].apply(lambda x: [word.replace(" ", "") for word in x])

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\1374678334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(lambda x: [word.replace(" ", "") for word in x])

In [94]:
movies['keywords']

0       [cultureclash, future, spacewar, spacecolony, ...
1       [ocean, drugabuse, exoticisland, eastindiatrad...
2       [spy, basedonnovel, secretagent, sequel, mi6, ...
3       [dccomics, crimefighter, terrorist, secretiden...
4       [basedonnovel, mars, medallion, spacetravel, p...
                              ...
4798    [unitedstates–mexicobarrier, legs, arms, paper...
4799                                                   []
4800    [date, loveatfirstsight, narration, investigat...
4801                                                   []
4802             [obsession, camcorder, crush, dreamgirl]
Name: keywords, Length: 4800, dtype: object

In [95]:
movies['genres']

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4798                       [Action, Crime, Thriller]
4799                               [Comedy, Romance]
4800               [Comedy, Drama, Romance, TVMovie]
4801                                              []
4802                                   [Documentary]
Name: genres, Length: 4800, dtype: object

In [96]:
movies.head()

,id,title,overview,genres,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p..."

In [97]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']

In [98]:
movies.head()

,id,title,overview,genres,keywords,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili..."

In [100]:
new_movies=movies[['id', 'title', 'tags']]

In [101]:
new_movies.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [102]:
new_movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [103]:
new_movies['tags'].apply(lambda x:" ".join(x))

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: tags, Length: 4800, dtype: object

In [104]:
new_movies['tags']=new_movies['tags'].apply(lambda x:" ".join(x))

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\4113134046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags']=new_movies['tags'].apply(lambda x:" ".join(x))

In [105]:
new_movies['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: tags, Length: 4800, dtype: object

In [106]:
new_movies['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [107]:
new_movies['tags'].apply(lambda x: x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4798    el mariachi just wants to play his guitar and ...
4799    a newlywed couple's honeymoon is upended by th...
4800    "signed, sealed, delivered" introduces a dedic...
4801    when ambitious new york attorney sam is sent t...
4802    ever since the second grade when he first saw ...
Name: tags, Length: 4800, dtype: object

In [108]:
new_movies['tags']=new_movies['tags'].apply(lambda x: x.lower())

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\302004344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags']=new_movies['tags'].apply(lambda x: x.lower())

In [109]:
new_movies['tags']

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4798    el mariachi just wants to play his guitar and ...
4799    a newlywed couple's honeymoon is upended by th...
4800    "signed, sealed, delivered" introduces a dedic...
4801    when ambitious new york attorney sam is sent t...
4802    ever since the second grade when he first saw ...
Name: tags, Length: 4800, dtype: object

In [110]:
new_movies.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [113]:
vectors=cv.fit_transform(new_movies['tags']).toarray()

In [114]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [116]:
len(cv.get_feature_names())

c:\Users\kalas\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

5000

In [119]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [123]:
new_movies['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4798    el mariachi just want to play hi guitar and ca...
4799    a newlyw couple' honeymoon is upend by the arr...
4800    "signed, sealed, delivered" introduc a dedic q...
4801    when ambiti new york attorney sam is sent to s...
4802    ever sinc the second grade when he first saw h...
Name: tags, Length: 4800, dtype: object

In [124]:
new_movies['tags']=new_movies['tags'].apply(stem)

C:\Users\kalas\AppData\Local\Temp\ipykernel_52092\2598606076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags']=new_movies['tags'].apply(stem)

In [125]:
new_movies['tags']

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4798    el mariachi just want to play hi guitar and ca...
4799    a newlyw couple' honeymoon is upend by the arr...
4800    "signed, sealed, delivered" introduc a dedic q...
4801    when ambiti new york attorney sam is sent to s...
4802    ever sinc the second grade when he first saw h...
Name: tags, Length: 4800, dtype: object

In [129]:
similarity=cosine_similarity(vectors)

In [130]:
similarity[0]

array([1.        , 0.09583148, 0.06172134, ..., 0.02465568, 0.0270666 ,
       0.        ])

In [134]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])

[(0, 1.0000000000000002),
 (539, 0.2732295333235123),
 (1191, 0.264575131106459),
 (507, 0.25539990311691463),
 (1213, 0.2480694691784169),
 (260, 0.24688535993934702),
 (582, 0.2439750182371333),
 (1914, 0.24053511772118194),
 (1201, 0.2405351177211819),
 (61, 0.23904572186687872),
 (3723, 0.23904572186687872),
 (74, 0.23199266800191015),
 (322, 0.2285714285714286),
 (495, 0.2267786838055363),
 (1438, 0.2258769757263128),
 (3603, 0.2238868314198225),
 (83, 0.22190115272469205),
 (2327, 0.22190115272469205),
 (972, 0.21971768720102058),
 (1326, 0.2162249910469341),
 (4185, 0.2162249910469341),
 (466, 0.2114722130550724),
 (151, 0.21128856368212912),
 (1198, 0.20701966780270628),
 (2198, 0.20597146021777488),
 (2994, 0.2038588765750502),
 (3322, 0.19920476822239894),
 (1272, 0.19889806323953876),
 (47, 0.1980534816610477),
 (150, 0.1980534816610477),
 (2966, 0.1980534816610477),
 (27, 0.19518001458970666),
 (4399, 0.19518001458970666),
 (220, 0.19518001458970663),
 (305, 0.19477964490741226),
 (373, 0.1938916835823703),
 (1318, 0.1938916835823703),
 (4041, 0.1932024558334913),
 (931, 0.19166296949998196),
 (1068, 0.18946618668626833),
 (1531, 0.18946618668626833),
 (2403, 0.18946618668626833),
 (3533, 0.18946618668626833),
 (461, 0.1889822365046136),
 (46, 0.18832944617230335),
 (942, 0.18832944617230335),
 (2780, 0.18832944617230335),
 (36, 0.18708286933869706),
 (301, 0.18585364625199016),
 (300, 0.18478728707195913),
 (7, 0.18257418583505533),
 (184, 0.18257418583505533),
 (208, 0.18070158058105024),
 (67, 0.17928429140015903),
 (4, 0.17837651700316892),
 (26, 0.1765469659009499),
 (1825, 0.1763834207376394),
 (581, 0.17622684421256032),
 (2725, 0.17622684421256032),
 (149, 0.17457431218879385),
 (661, 0.173137462139922),
 (2490, 0.17251638983558856),
 (1341, 0.17142857142857143),
 (31, 0.16903085094570333),
 (52, 0.1690308509457033),
 (1802, 0.1690308509457033),
 (108, 0.16903085094570328),
 (3157, 0.1673320053068151),
 (91, 0.16574838603294897),
 (2509, 0.16574838603294897),
 (1390, 0.16568337391590277),
 (1377, 0.16452254913212452),
 (4003, 0.16398401233815754),
 (1294, 0.16239958858823),
 (4330, 0.16239958858823),
 (1959, 0.1610152971798826),
 (168, 0.16035674514745463),
 (311, 0.16035674514745463),
 (3623, 0.15971914124998496),
 (1352, 0.15649215928719032),
 (172, 0.15511334686589623),
 (487, 0.15511334686589623),
 (158, 0.1546617786679401),
 (502, 0.1546617786679401),
 (111, 0.15430334996209188),
 (568, 0.15430334996209188),
 (1175, 0.15430334996209188),
 (3349, 0.15430334996209188),
 (2163, 0.15179418517972906),
 (17, 0.15149527937243176),
 (56, 0.15118578920369088),
 (422, 0.15118578920369088),
 (490, 0.15118578920369088),
 (1482, 0.15118578920369088),
 (41, 0.14953343588376802),
 (1932, 0.14953343588376802),
 (557, 0.1494035761667992),
 (577, 0.1494035761667992),
 (838, 0.14907119849998596),
 (249, 0.14754222271266348),
 (332, 0.14712247158412492),
 (1012, 0.14712247158412492),
 (84, 0.14675987714106856),
 (187, 0.1449427589131121),
 (1217, 0.1449427589131121),
 (2680, 0.1449427589131121),
 (1319, 0.14488358652488853),
 (68, 0.14414999403128942),
 (505, 0.14414999403128942),
 (1324, 0.14414999403128942),
 (369, 0.14285714285714285),
 (413, 0.14285714285714285),
 (1939, 0.14285714285714285),
 (483, 0.14098147537004826),
 (1155, 0.14098147537004826),
 (2614, 0.14098147537004826),
 (1667, 0.14064216928154863),
 (4342, 0.14064216928154863),
 (2127, 0.13930903806377162),
 (2867, 0.13930903806377162),
 (754, 0.1389425035941821),
 (3404, 0.1389425035941821),
 (3617, 0.1389425035941821),
 (127, 0.13848495294356286),
 (342, 0.13848495294356286),
 (134, 0.13801311186847084),
 (368, 0.13801311186847084),
 (1044, 0.13801311186847084),
 (2578, 0.13801311186847084),
 (4484, 0.13801311186847084),
 (595, 0.13710212427677043),
 (653, 0.13552618543578768),
 (999, 0.13552618543578768),
 (1569, 0.13552618543578768),
 (2317, 0.13552618543578768),
 (1034, 0.13533299049019168),
 (94, 0.13522468075656266),
 (1093, 0.13522468075656266),
 (1652, 0.13522468075656266),
 (2965, 0.13522468075656266),
 (3371, 0.13522468075656266),
 (778, 0.1336306209562122),
 (3667, 0.1336306209562122),
 (275, 0.13259870882635919),
 (2372, 0.13259870882635919),
 (278, 0.13199091933711365),
 (2474, 0.1309307341415954),
 (95, 0.13041013273932525),
 (529, 0.13041013273932525),
 (549, 0.13041013273932525),
 (1611, 0.13041013273932525),
 (1271, 0.1301200097264711),
 (1741, 0.1301200097264711),
 (1735, 0.12985309660494151),
 (228, 0.12888481555661674),
 (420, 0.12888481555661674),
 (1296, 0.12888481555661674),
 (939, 0.12880163722232754),
 (50, 0.12777531299998796),
 (579, 0.12777531299998796),
 (1827, 0.12777531299998796),
 (3992, 0.12777531299998796),
 (4667, 0.12777531299998796),
 (454, 0.12741179785940637),
 (3304, 0.12741179785940637),
 (808, 0.1267731382092775),
 (1709, 0.1267731382092775),
 (3213, 0.1267731382092775),
 (2707, 0.12598815766974242),
 (28, 0.12555296411486888),
 (232, 0.12555296411486888),
 (294, 0.12555296411486888),
 (2862, 0.12555296411486888),
 (1274, 0.12461119656980671),
 (123, 0.1246111965698067),
 (432, 0.1246111965698067),
 (2541, 0.1246111965698067),
 (72, 0.12344267996967351),
 (2069, 0.12344267996967351),
 (3003, 0.12344267996967351),
 (5, 0.12327841818038447),
 (2253, 0.12298800925361815),
 (1568, 0.12209353913347193),
 (169, 0.12198750911856666),
 (1473, 0.12198750911856666),
 (692, 0.12198750911856665),
 (1506, 0.12198750911856665),
 (166, 0.12143534814378325),
 (687, 0.12143534814378325),
 (1610, 0.12143534814378325),
 (1976, 0.12143534814378325),
 (3142, 0.12121830534626528),
 (3402, 0.12073632210407378),
 (238, 0.1203616281427559),
 (624, 0.11952286093343936),
 (627, 0.11952286093343936),
 (1715, 0.11952286093343936),
 (3625, 0.11952286093343936),
 (4128, 0.11952286093343936),
 (508, 0.11952286093343935),
 (859, 0.11952286093343935),
 (4072, 0.11952286093343935),
 (4090, 0.11952286093343935),
 (199, 0.11834526708278768),
 (81, 0.1178966237837789),
 (14, 0.11769797726729993),
 (87, 0.11769797726729993),
 (126, 0.11769797726729993),
 (900, 0.11769797726729993),
 (1028, 0.11769797726729993),
 (2066, 0.11769797726729993),
 (2577, 0.11769797726729993),
 (141, 0.11633501014942217),
 (773, 0.11633501014942217),
 (1367, 0.11633501014942217),
 (3050, 0.11633501014942217),
 (3714, 0.11633501014942217),
 (3993, 0.11633501014942217),
 (4325, 0.11633501014942217),
 (10, 0.11595420713048966),
 (330, 0.11595420713048966),
 (513, 0.11595420713048966),
 (854, 0.11595420713048966),
 (1192, 0.11595420713048966),
 (1291, 0.11595420713048966),
 (3335, 0.11595420713048966),
 (18, 0.11501092655705902),
 (777, 0.11501092655705902),
 (2100, 0.11501092655705902),
 (295, 0.11428571428571428),
 (131, 0.11428571428571427),
 (174, 0.11428571428571427),
 (312, 0.11428571428571427),
 (643, 0.11428571428571427),
 (2007, 0.11428571428571427),
 (2175, 0.11428571428571427),
 (2444, 0.11428571428571427),
 (3493, 0.11428571428571427),
 (3615, 0.11428571428571427),
 (1016, 0.11396057645963796),
 (33, 0.11338934190276816),
 (105, 0.11338934190276816),
 (157, 0.11338934190276816),
 (935, 0.11338934190276816),
 (1153, 0.11338934190276816),
 (1277, 0.11338934190276816),
 (1518, 0.11338934190276816),
 (2450, 0.11338934190276816),
 (2515, 0.11338934190276816),
 (2556, 0.11338934190276816),
 (2628, 0.11338934190276816),
 (3947, 0.11338934190276816),
 (4011, 0.11338934190276816),
 (102, 0.1129384878631564),
 (266, 0.1126872339638022),
 (334, 0.1126872339638022),
 (535, 0.1126872339638022),
 (1079, 0.1126872339638022),
 (3097, 0.1126872339638022),
 (403, 0.11194341570991125),
 (1491, 0.11194341570991125),
 (985, 0.11115400287534567),
 (2754, 0.1109741904046188),
 (233, 0.11065666703449761),
 (325, 0.11065666703449761),
 (389, 0.11065666703449761),
 (476, 0.11065666703449761),
 (660, 0.11065666703449761),
 (1495, 0.11065666703449761),
 (1721, 0.11065666703449761),
 (2756, 0.11065666703449761),
 (3832, 0.11065666703449761),
 (4196, 0.11065666703449761),
 (2433, 0.11002971203391539),
 (182, 0.10968169942141635),
 (510, 0.10968169942141635),
 (740, 0.10968169942141635),
 (239, 0.10910894511799618),
 (129, 0.10826639239215334),
 (4223, 0.10826639239215334),
 (139, 0.10821091383745125),
 (3774, 0.10811249552346708),
 (148, 0.10811249552346706),
 (263, 0.10811249552346706),
 (715, 0.10811249552346706),
 (1583, 0.10811249552346706),
 (1936, 0.10811249552346706),
 (2654, 0.10811249552346706),
 (3655, 0.10811249552346706),
 (85, 0.10811249552346705),
 (1270, 0.10690449676496976),
 (2278, 0.10690449676496976),
 (3776, 0.10690449676496976),
 (4038, 0.10690449676496976),
 (4539, 0.10647942749998995),
 (35, 0.1057361065275362),
 (400, 0.1057361065275362),
 (530, 0.1057361065275362),
 (564, 0.1057361065275362),
 (781, 0.1057361065275362),
 (1024, 0.1057361065275362),
 (2655, 0.1057361065275362),
 (4191, 0.1057361065275362),
 (270, 0.10559273546969093),
 (371, 0.10559273546969093),
 (473, 0.10559273546969093),
 (898, 0.10559273546969093),
 (1083, 0.10559273546969093),
 (1106, 0.10559273546969093),
 (1433, 0.10559273546969093),
 (3438, 0.10559273546969093),
 (307, 0.10516609640992378),
 (279, 0.10432810619146021),
 (412, 0.10432810619146021),
 (933, 0.10432810619146021),
 (3459, 0.10432810619146021),
 (12, 0.10350983390135314),
 (292, 0.10350983390135314),
 (511, 0.10350983390135314),
 (920, 0.10350983390135314),
 (1074, 0.10350983390135314),
 (1298, 0.10350983390135314),
 (3729, 0.10350983390135314),
 (4249, 0.10350983390135314),
 (4617, 0.10350983390135314),
 (243, 0.1031078524452934),
 (813, 0.1031078524452934),
 (1199, 0.1031078524452934),
 (1997, 0.1031078524452934),
 (870, 0.1019294382875251),
 (1273, 0.1019294382875251),
 (1817, 0.1019294382875251),
 (23, 0.10141851056742199),
 (236, 0.10141851056742199),
 (362, 0.10141851056742199),
 (791, 0.10141851056742199),
 (1468, 0.10141851056742199),
 (1750, 0.10141851056742199),
 (2087, 0.10141851056742199),
 (2645, 0.10141851056742199),
 (785, 0.10101525445522105),
 (410, 0.10079052613579392),
 (1230, 0.10079052613579392),
 (43, 0.09968895725584535),
 (618, 0.09968895725584535),
 (1354, 0.09968895725584535),
 (1086, 0.09960238411119947),
 (122, 0.09944903161976938),
 (227, 0.09944903161976938),
 (349, 0.09944903161976938),
 (691, 0.09944903161976938),
 (922, 0.09944903161976938),
 (1303, 0.09944903161976938),
 (1680, 0.09944903161976938),
 (2390, 0.09944903161976938),
 (2646, 0.09944903161976938),
 (3088, 0.09944903161976938),
 (1275, 0.09862273454430757),
 (1840, 0.09862273454430757),
 (534, 0.09759000729485333),
 (596, 0.09759000729485333),
 (1412, 0.09759000729485333),
 (1918, 0.09759000729485333),
 (2482, 0.09759000729485333),
 (2590, 0.09759000729485333),
 (2790, 0.09759000729485333),
 (2874, 0.09759000729485333),
 (4496, 0.09759000729485333),
 (96, 0.09759000729485331),
 (242, 0.09759000729485331),
 (1402, 0.09759000729485331),
 (1694, 0.09759000729485331),
 (3532, 0.09759000729485331),
 (160, 0.09694584179118515),
 (1, 0.09583148474999097),
 (21, 0.09583148474999097),
 (112, 0.09583148474999097),
 (121, 0.09583148474999097),
 (164, 0.09583148474999097),
 (356, 0.09583148474999097),
 (901, 0.09583148474999097),
 (960, 0.09583148474999097),
 (1139, 0.09583148474999097),
 (1246, 0.09583148474999097),
 (2834, 0.09583148474999097),
 (3296, 0.09583148474999097),
 (3444, 0.09583148474999097),
 (479, 0.09569487529386908),
 (799, 0.09569487529386908),
 (1826, 0.09467621366623015),
 (203, 0.09416472308615166),
 (306, 0.09416472308615166),
 (315, 0.09416472308615166),
 (794, 0.09416472308615166),
 (977, 0.09416472308615166),
 (1001, 0.09416472308615166),
 (1467, 0.09416472308615166),
 (2245, 0.09416472308615166),
 (4462, 0.09416472308615166),
 (4620, 0.09416472308615166),
 (541, 0.09376144618769909),
 (1999, 0.09376144618769909),
 (2492, 0.09376144618769909),
 (381, 0.09376144618769908),
 (1658, 0.09376144618769908),
 (2382, 0.09376144618769908),
 (2850, 0.09376144618769908),
 (4158, 0.09376144618769908),
 (4347, 0.09376144618769908),
 (4510, 0.09376144618769908),
 (32, 0.09287269204251442),
 (170, 0.09287269204251442),
 (467, 0.09287269204251442),
 (1490, 0.09287269204251442),
 (2442, 0.09276773134741387),
 (101, 0.09258200997725513),
 (142, 0.09258200997725513),
 (245, 0.09258200997725513),
 (634, 0.09258200997725513),
 (814, 0.09258200997725513),
 (894, 0.09258200997725513),
 (1266, 0.09258200997725513),
 (1784, 0.09258200997725513),
 (206, 0.09221388919541468),
 (45, 0.09200874124564722),
 (107, 0.09200874124564722),
 (812, 0.09200874124564722),
 (2963, 0.09200874124564722),
 (222, 0.09116846116771037),
 (654, 0.09116846116771037),
 (75, 0.09107651110783743),
 (88, 0.09107651110783743),
 (775, 0.09107651110783743),
 (1204, 0.09107651110783743),
 (1517, 0.09107651110783743),
 (3809, 0.09107651110783743),
 (363, 0.09035079029052512),
 (501, 0.09035079029052512),
 (776, 0.09035079029052512),
 (850, 0.09035079029052512),
 (1136, 0.09035079029052512),
 (2268, 0.09035079029052512),
 (2333, 0.09035079029052512),
 (3149, 0.09035079029052512),
 (4648, 0.09035079029052512),
 (4731, 0.09035079029052512),
 (39, 0.08964214570007951),
 (71, 0.08964214570007951),
 (547, 0.08964214570007951),
 (2161, 0.08964214570007951),
 (2241, 0.08964214570007951),
 (2788, 0.08964214570007951),
 (2811, 0.08964214570007951),
 (4252, 0.08964214570007951),
 (4651, 0.08964214570007951),
 (103, 0.089554732567929),
 (491, 0.089554732567929),
 (1872, 0.089554732567929),
 (1279, 0.08877935232369503),
 (1399, 0.08877935232369503),
 (3436, 0.08877935232369503),
 (2380, 0.08859623899229174),
 (37, 0.08827348295047495),
 (257, 0.08827348295047495),
 (329, 0.08827348295047495),
 (457, 0.08827348295047495),
 (472, 0.08827348295047495),
 (746, 0.08827348295047495),
 (786, 0.08827348295047495),
 (1110, 0.08827348295047495),
 (1395, 0.08827348295047495),
 (2298, 0.08827348295047495),
 (3418, 0.08827348295047495),
 (3423, 0.08827348295047495),
 (193, 0.0880237696271323),
 (1528, 0.0880237696271323),
 (572, 0.08728715609439695),
 (153, 0.08728715609439694),
 (189, 0.08728715609439694),
 (205, 0.08728715609439694),
 (1320, 0.08728715609439694),
 (1515, 0.08728715609439694),
 (1649, 0.08728715609439694),
 (1920, 0.08728715609439694),
 (2653, 0.08728715609439694),
 (2706, 0.08728715609439694),
 (2783, 0.08728715609439694),
 (3150, 0.08728715609439694),
 (4486, 0.08728715609439694),
 (4712, 0.08728715609439694),
 (19, 0.08728715609439693),
 (86, 0.08696565534786725),
 (207, 0.08696565534786725),
 (787, 0.08696565534786725),
 (1158, 0.08696565534786725),
 (1286, 0.08696565534786725),
 (3086, 0.08696565534786725),
 (3135, 0.08696565534786725),
 (3305, 0.08696565534786725),
 (1822, 0.086568731069961),
 (1633, 0.08586775814821836),
 (16, 0.0857142857142857),
 (70, 0.0857142857142857),
 (98, 0.0857142857142857),
 (223, 0.0857142857142857),
 (626, 0.0857142857142857),
 (885, 0.0857142857142857),
 (899, 0.0857142857142857),
 (937, 0.0857142857142857),
 (3023, 0.0857142857142857),
 (3230, 0.0857142857142857),
 (3384, 0.0857142857142857),
 (51, 0.08518354199999197),
 (589, 0.08518354199999197),
 (3426, 0.08518354199999197),
 (62, 0.08451542547285165),
 (63, 0.08451542547285165),
 (82, 0.08451542547285165),
 (190, 0.08451542547285165),
 (241, 0.08451542547285165),
 (365, 0.08451542547285165),
 (471, 0.08451542547285165),
 (503, 0.08451542547285165),
 (632, 0.08451542547285165),
 (680, 0.08451542547285165),
 (737, 0.08451542547285165),
 (984, 0.08451542547285165),
 (1002, 0.08451542547285165),
 (1361, 0.08451542547285165),
 (1608, 0.08451542547285165),
 (2311, 0.08451542547285165),
 (2320, 0.08451542547285165),
 (2638, 0.08451542547285165),
 (2677, 0.08451542547285165),
 (2795, 0.08451542547285165),
 (3064, 0.08451542547285165),
 (3350, 0.08451542547285165),
 (3522, 0.08451542547285165),
 (4425, 0.08451542547285165),
 (4467, 0.08451542547285165),
 (4562, 0.08451542547285165),
 (4635, 0.08451542547285165),
 (230, 0.08386278693775347),
 (2197, 0.08386278693775347),
 (11, 0.08336550215650926),
 (138, 0.08336550215650926),
 (1759, 0.08336550215650926),
 (2157, 0.08336550215650926),
 (2247, 0.08336550215650926),
 (2814, 0.08336550215650926),
 (3465, 0.08336550215650926),
 (2093, 0.0832250378576479),
 (2757, 0.08322503785764788),
 (254, 0.08226127456606226),
 (271, 0.08226127456606226),
 (1053, 0.08226127456606226),
 (1554, 0.08226127456606226),
 (3903, 0.08226127456606226),
 (4048, 0.08226127456606226),
 (570, 0.08199200616907877),
 (800, 0.08199200616907877),
 (1345, 0.08199200616907877),
 (1763, 0.08199200616907877),
 (2159, 0.08199200616907877),
 (2206, 0.08199200616907877),
 (2375, 0.08199200616907877),
 (2545, 0.08199200616907877),
 (2877, 0.08199200616907877),
 (3067, 0.08199200616907877),
 (3393, 0.08199200616907877),
 (3425, 0.08199200616907877),
 (4054, 0.08199200616907877),
 (59, 0.08139569275564795),
 (732, 0.081199794294115),
 (1287, 0.081199794294115),
 (2015, 0.081199794294115),
 (2235, 0.081199794294115),
 (2348, 0.081199794294115),
 (3201, 0.081199794294115),
 (3694, 0.081199794294115),
 (76, 0.08017837257372731),
 (79, 0.08017837257372731),
 (2389, 0.08017837257372731),
 (2586, 0.08017837257372731),
 (2825, 0.08017837257372731),
 (3017, 0.08017837257372731),
 (4076, 0.08017837257372731),
 (4445, 0.08017837257372731),
 (100, 0.07968190728895957),
 (109, 0.07968190728895957),
 (200, 0.07968190728895957),
 (256, 0.07968190728895957),
 (313, 0.07968190728895957),
 (1042, 0.07968190728895957),
 (1285, 0.07968190728895957),
 (1615, 0.07968190728895957),
 (1731, 0.07968190728895957),
 (2155, 0.07968190728895957),
 (2692, 0.07968190728895957),
 (3236, 0.07968190728895957),
 (3248, 0.07968190728895957),
 (3825, 0.07968190728895957),
 (3987, 0.07968190728895957),
 (4406, 0.07968190728895957),
 (274, 0.0795054244426302),
 (419, 0.0791945516022682),
 (536, 0.0791945516022682),
 (587, 0.0791945516022682),
 (591, 0.0791945516022682),
 (784, 0.0791945516022682),
 (908, 0.0791945516022682),
 (1617, 0.0791945516022682),
 (1626, 0.0791945516022682),
 (2357, 0.0791945516022682),
 (4634, 0.0791945516022682),
 (9, 0.07824607964359516),
 (543, 0.07824607964359516),
 (635, 0.07824607964359516),
 (782, 0.07824607964359516),
 (1172, 0.07824607964359516),
 (1322, 0.07824607964359516),
 (2911, 0.07824607964359516),
 (4116, 0.07824607964359516),
 (125, 0.07813453848974923),
 (179, 0.07755667343294811),
 (229, 0.07755667343294811),
 (267, 0.07755667343294811),
 (319, 0.07755667343294811),
 (336, 0.07755667343294811),
 (1259, 0.07755667343294811),
 (2108, 0.07755667343294811),
 (2130, 0.07755667343294811),
 (2527, 0.07755667343294811),
 (2781, 0.07755667343294811),
 (3975, 0.07755667343294811),
 (3999, 0.07755667343294811),
 (4437, 0.07755667343294811),
 (752, 0.07733088933397005),
 (827, 0.07733088933397005),
 (976, 0.07733088933397005),
 (994, 0.07733088933397005),
 (1165, 0.07733088933397005),
 (2046, 0.07733088933397005),
 (2695, 0.07733088933397005),
 (3183, 0.07733088933397005),
 (212, 0.07644707871564382),
 (665, 0.07644707871564382),
 (674, 0.07644707871564382),
 (728, 0.07644707871564382),
 (1015, 0.07644707871564382),
 (1439, 0.07644707871564382),
 (1440, 0.07644707871564382),
 (1877, 0.07644707871564382),
 (3385, 0.07644707871564382),
 (30, 0.07559289460184544),
 (55, 0.07559289460184544),
 (281, 0.07559289460184544),
 (488, 0.07559289460184544),
 (704, 0.07559289460184544),
 (1082, 0.07559289460184544),
 (1143, 0.07559289460184544),
 (1289, 0.07559289460184544),
 (1404, 0.07559289460184544),
 (1764, 0.07559289460184544),
 (1768, 0.07559289460184544),
 (2012, 0.07559289460184544),
 (2404, 0.07559289460184544),
 (2644, 0.07559289460184544),
 (3663, 0.07559289460184544),
 (3670, 0.07559289460184544),
 (3900, 0.07559289460184544),
 (4397, 0.07559289460184544),
 (183, 0.0751248226425348),
 (2050, 0.07476671794188403),
 (97, 0.07476671794188401),
 (600, 0.07476671794188401),
 (1337, 0.07476671794188401),
 (1695, 0.07476671794188401),
 (3220, 0.07476671794188401),
 (3815, 0.07476671794188401),
 (215, 0.07396705090823068),
 (1090, 0.07396705090823068),
 (1449, 0.07396705090823068),

In [187]:
def recommend(movie):
    try:
        movie_index=new_movies[new_movies['title']==movie].index[0]
        distances=similarity[movie_index]
        movie_list=sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1]) [1:6]
        for i in movie_list:
            print (new_movies.iloc[i[0]].title)
    except IndexError:
        return "Sorry! This movie is not present in our database currently"

In [183]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Ender's Game

In [188]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Ender's Game

In [190]:
recommend('Adipurush')

'Movie not present in the database'